<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Users\User\AppData\Local\Programs\Python\Python314\python.exe|C:\Users\User\AppData\Local\Programs\Python\Python314\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\sacco" />
    <add key="WSGI_HANDLER" value="SACCO.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="SACCO.settings" />
  </appSettings>
</configuration>